body{
background-color: rgb(126, 144, 161);
}

.parent{
    width: 100%;
    min-height: 100vh;
    color: white;
    position: relative;
}

.con{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}

#min::after{
    content: 'MIN';
}

#sec::after{
    content: 'SEC';
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


@media (max-width: 425px) {
  .con {
      width: 90%;
      height: auto;
      top: 40%;
  }

  .clock span {
      font-size: 60px;
      width: 80px;
      margin: 0 5px;
  }

  .clock span::after {
      font-size: 12px;
      bottom: -5px;
  }
}

@media (max-width: 375px) {
  .con {
      width: 90%;
      height: auto;
      top: 40%;
  }

  .clock span {
      font-size: 55px;
      width: 70px;
      margin: 0 5px;
  }

  .clock span::after {
      font-size: 10px;
      bottom: -5px;
  }
}

@media (max-width: 320px) {
  .con {
      width: 90%;
      height: auto;
      top: 40%;
  }

  .clock span {
      font-size: 50px;
      width: 60px;
      margin: 0 3px;
  }

  .clock span::after {
      font-size: 8px;
      bottom: -5px;
  }
}